<config>

  <!-- See sample config: /usr/share/doc/fahclient/sample-config.xml -->
<!-- Slot Control
       Options: light, medium or full
       Watch out for high load -->
  <power v='{{ folding_slot_control }}'/>

  <!-- User Information
  {% if folding_donor %}
       Don't fold anonymously, provide user info. -->
  <fold-anon v='false'/>
  <user v='{{ folding_donor }}'/>
  {% else %}
     donating processing power anonymously -->
  <fold-anon v='true'/>
  {% endif %}

  {% if folding_team %}  
  <team v='{{ folding_team }}'/>
  {% else %}
  <team v='0' />
  {% endif %}

  <!-- Folding Slots -->
  {% if use_cpu %}
  <slot id='0' type='CPU'/>
  {% endif %}

  {% for gpu in gpu_list %}
  <slot id='{{ loop.index }}' type='GPU'/>
  <!-- GPU: {{ gpu }} -->

  {% endfor %}

  <!-- Grant Remote Web Access
       access web UI at LAN IP address -->
  <allow>127.0.0.1 {{ folding_control_node }}</allow>
  <web-allow>127.0.0.1 {{ folding_control_node }}</web-allow>

{% if folding_control_pass %}
  <password>{{ folding_control_pass }}</password>
{% else %}
  <!-- remote command server with no password -->
  <command-allow-no-pass v='127.0.0.1 {{ folding_control_node }}'/>
{% endif %}

</config>